.carta-container {
    width: 200px;
    font-family: "Changa One", cursive;
    margin: 5px;
    text-align: center;
    .carta {
        display: flex;
        flex-direction: column;
        height: 100%;
        .image {
            background-color: rgb(238, 232, 212);
            border-radius: 5px;
            margin-bottom: 5px;
            img {
                width: auto;
                height: 200px;
            }
        }
        .extra {
            background-color: rgb(218, 210, 187);
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 5px;
        }
        .ataque {
            background-color: #703030;
            color: white;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 5px;
        }
        .defesa {
            background-color: #e0a65a;
            color: white;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 5px;
        }
        .content {
            background-color: rgb(238, 232, 212);
            border-radius: 5px;
            padding: 20px;
            padding-bottom: 5px;
            padding-top: 5px;
            height: 100%;
            margin-bottom: 5px;
            .nome {
                font-size: 25px;
            }
        }
    }
}
