.lista-container {
    display: flex;
    overflow: auto;

    .lista {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: stretch;
        margin-left: 20px;
    }
}
